.project-item{
  height:160px;
  background-image: url(https://mailimg.teambition.com/logos/cover-media.jpg);
  background-size: cover;
  .el-card__body{
    padding:10px;
    .project-item-setting{
      float: right;
      .el-button--text{
        color: #fff;
        font-size: 16px;
        padding-top: 0px;
      }
      .el-icon-star-on{
        color:yellow
      }
    }
    .project-item-title{
      padding-top: 40px;
      padding-left: 30px;
      color: #fff;
      font-size: 16px;
      .project-item-group{
        font-size: 14px;
      }
    }
  }
  &:hover{
    cursor: pointer;
    transform: translateY(-4px)
  }
}
.project-form-input{
  width:40%;
  .el-select{
    width: 100%;
  }
}
